input/ACTIVSg70k/ACTIVSg70k.aux
input/ACTIVSg70k/ACTIVSg70k.EPC
input/ACTIVSg70k/ACTIVSg70k.PWB
input/ACTIVSg70k/ACTIVSg70k.pwd
input/ACTIVSg70k/ACTIVSg70k.RAW
input/ACTIVSg70k/ACTIVSg70k_dynamics.aux
input/ACTIVSg70k/ACTIVSg70k_dynamics.dyd
input/ACTIVSg70k/ACTIVSg70k_dynamics.dyr
input/ACTIVSg70k/ACTIVSg70k_GIC_data.gic
input/ACTIVSg70k/case_ACTIVSg70k.m
input/ACTIVSg70k.aux
input/ACTIVSg70k.zip
